/* ------------------------КАТАЛОГ------------------------ */
body {
    background-image: url(../img/grainy.png);
    background-repeat: no-repeat;
    background-size: contain; /* Картинка сжимается, чтобы влезть целиком */
    background-position: top right;
    background-size: 100% 100%;
}

.Catalog-txt {
    display: flex;
    justify-content: center;
    color: rgb(5, 5, 5);

    padding-top: 20px;
    margin-bottom: 40px;
}

.Ccards {
    background-color: rgb(69, 129, 109);
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 40px;
    width: min-content;
    margin-left: 170px;

    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.2);

    margin-bottom: 50px;
}

.Ccards-row1, .Ccards-row2 {
    display: flex;
    flex-direction: row;
}

.card {
    display: flex;

    background-color: rgb(220, 233, 228);
    border: 0px solid rgb(19, 36, 30);
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    height: 400px;
    margin: 50px;

    position: relative;
    box-shadow: 0 10px 10px rgba(0,0,0,0.2);
}

.Ccard-img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    object-position: center;

    position: absolute;
    bottom: 150px;
}

.Ccard-txt {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.Ccard-name {
    font-size: 1.5rem;
    margin: 2px;
}

.Ccard-desk {
    font-size: 1.2rem;
    margin: 3px;
}

.Ccard-link {
    color: #e49929;
    margin-top: 5px;
}

.Ccard-link:hover {
    color: rgb(175, 201, 190);
}