/* ------------------------ОБЛОЖКА------------------------ */

.Goblojka {
    position: relative;
    background-image: url('../img/home-oblojka.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    align-items: center;

    min-height: 100vh;
    width: 100%;

    box-shadow: 0 10px 10px rgba(0,0,0,0.2);
}

.Gobl-txt {
    width: 100%;
    display: flex;
    font-size: clamp(0.9rem, 2vw, 1.2rem);
    color: white;
    padding: 20px;
    flex-direction: column;
    align-items: flex-end;
}

.Gobl-txth2 {
    display: flex;
    font-size: clamp(1.5rem, 5vw, 3rem);
    margin: 0;
    text-align: left;

}

.Gobl-txtp {
    display: flex;
    font-size: 1.2rem;
    text-align: left;

}

@media (max-width: 768px) {
    
    .Gobl-txth2 {
        font-size: 2rem;
    }

    .Gobl-txtp {
        font-size: 1rem;
    }

}

/* ------------------------БЛОК НОВИНКИ------------------------ */
.new-block {
    padding: 60px 20px;
    background-color: rgb(69, 129, 109);

    display: flex;
    justify-content: space-between;

    box-shadow: inset 0px -5px 10px rgba(100, 100, 100, 0.2);
}

.new-card {
    position: relative;
    max-width: 350px;

    background: rgb(220, 233, 228);
    border-radius: 20px;
    overflow: hidden;

    box-shadow: 0 10px 10px rgba(0,0,0,0.2);
    transition: 0.3s;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.new-card:hover {
    transform: translateY(-8px);
}

.new-card img {    
    width: 100%;
    height: 200px;
    object-fit: contain;
}

/* бейдж */
.badge {
    position: absolute;
    top: 15px;
    left: 15px;

    background: #e49929;
    color: black;
    font-weight: bold;

    padding: 5px 10px;
    border-radius: 8px;
    font-size: 12px;
}

/* контент */
.new-info {
    padding: 1px 20px 20px;
    color: rgb(0, 0, 0);
}

.new-info h3 {
    margin-bottom: 10px;
}

.new-specs {
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
    font-size: 14px;
}

.new-desc {
    font-size: 14px;
    opacity: 0.8;
    margin-bottom: 15px;
}

/* низ карточки */
.new-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    font-size: 20px;
    font-weight: bold;
}

.new-card button {
    padding: 8px 12px;
    border: none;
    border-radius: 8px;
    background: rgb(175, 201, 190);
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: 0.3s;
}

.new-card button:hover {
    background: rgb(120, 161, 143);
}

/* ------------------------БЛОК КЕЙСЫ------------------------ */
.case-block {
    padding: 80px 20px;
    background-color: rgb(220, 233, 228);

}

.case-card {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;

    background: linear-gradient(145deg, rgb(69,129,109), rgb(45,83,71));
    border-radius: 24px;
    padding: 30px;

    box-shadow: 0 15px 40px rgba(0,0,0,0.25);
}

.case-image {
    position: relative;
    flex: 1;
    min-width: 280px;
}

.case-image img {
    width: 100%;
    border-radius: 16px;
    transition: 0.4s;
}

.case-image:hover img {
    transform: scale(1.03);
}

/* бейдж */
.case-label {
    position: absolute;
    top: 15px;
    left: 15px;
    background: white;
    color: black;
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: bold;
}

.case-content {
    flex: 1;
    min-width: 280px;
    color: white;
}

.case-content h2 {
    margin-bottom: 15px;
}

.case-content h3 {
    margin-top: 1px;
}

.case-content span {
    color: #e49929;
}

/* описание */
.case-desc {
    margin-bottom: 20px;
    line-height: 1.6;
    opacity: 0.9;
}

.case-stats {
    display: flex;
    gap: 20px;
    margin-bottom: 25px;

    height: 100px;
}

.case-stats div {
    background: rgba(255,255,255,0.1);
    padding: 15px;
    border-radius: 12px;
    text-align: center;
}

.case-stats h3 {
    font-size: 22px;
}

/* 💬 отзыв */
.case-review {
    background: rgba(0,0,0,0.2);
    padding: 15px;
    border-radius: 12px;
    font-style: italic;
}

.case-review span {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    opacity: 0.8;
}

@media (max-width: 800px) {
    .case-card {
        flex-direction: column;
    }

    .case-stats {
        flex-direction: column;
    }
}